
<div class="container containter-settings-menu">
    <div class="row settings-menu">
            <div class="item-menu">
                <a class="btn" href="{% url 'settings_personal' %}">
                    Membership
                </a>
            </div>
            <div class="item-menu">
                <a class="btn" href="{% url 'settings_scoreboard' %}">
                    Scoreboard
                </a>
            </div>
            <div class="item-menu">
                <a class="btn" href="{% url 'settings_portfolio' %}">
                    Portfolio
                </a>
            </div>
            <div class="item-menu">
                <a class="btn" href="#/settings/membership">
                    Invoices
                </a>
            </div>
        </div>
</div>

