// color

c-blue = #333347
c-green = #47b475
c-red = red
// GENERAL
.overflow
    overflow hidden

.btn-web-design
    background c-blue
    color #fff !important
    border-radius 0 !important
    &:hover
        border 2px solid c-green
        background c-green
.btn-web-design-danger
    background c-blue
    color #fff !important
    border-radius 0 !important
    &:hover
        border 2px solid c-red
        background c-red
// PAGE REGISTER
.user_field
    margin-bottom 20px
    label
        color #fff
        font-weight 900
        font-size 14px
    .label-black
        color #333347
    input[type="file"]
        color white
        margin-bottom 0px
    .input-file-back
        color c-blue !important
    .errors
        color #fff
        font-weight 900
        font-size 12px
#register-container
    height 1400px !important
#photographer-container, #user-container, .cnt-form-register
    overflow hidden

#photographer-container
    margin-bottom 10px

// PAGE INDEX
.form-search
    label
        color #fff
        font-size 16px
    #query_string
        padding-right 50px
    .container-search
        position relative
        #current_location
            position absolute
            right 0px
            top 0px
            cursor pointer
            padding 13px 18px
            background c-blue
            // height 50px
            transition 0.2s ease all
            &:hover
                background c-green
    .col-btn-search
        margin-top 28px
        #search
            // margin-top 22px
            cursor pointer
            display inline-block
            padding 13px 20px
            transition 0.2s ease all
            font-size 16px
            width 100%
            text-align center
            &:hover
                    background c-green
            .glyphicon-search
                margin-left 5px
    .container-range
        display flex
        justify-content space-between
        .searchbar
            max-width 200px
.container-results
    margin-top 20px
    padding 0px
#grid
    height 0px
    margin 0px
    padding 0px
#results_link
    margin-bottom 0px
    margin-left 20px


// PAGE RESULT PHOTOGRAPHERS
#page-result-photographers
    margin-bottom 40px
    .tbl-result-photographers
        margin-top 20px
        .title
            font-size 18px
            margin-bottom 20px
        .result_set
            font-size 14px

// PAGE SETTINGS HEADER
.containter-settings-menu
    margin-top 40px
    .settings-menu
        display flex
        justify-content center
        .item-menu
            margin 0px 20px

// PAGE scoreboard

.page-scoreboard
    .user-createad
        font-size 16px
    .header
        color #000

// PAGE PORTAFOLIO
.page-portafolio
    margin-bottom 40px
    .container-category-photo
        .link-img-upload
            display block
        .title
            font-size 16px
            margin 0px
            margin-top 10px
    .btn-upload
        margin-top 25px
// PAGE UPLOAD
.page-upload
    margin-top 15px

