{% extends 'proto/common/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block css %}
    <link href="{% static 'web-design/css/theme.css' %}" rel="stylesheet"
          type="text/css" media="all"/>
{% endblock css %}
{% block content %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image"
                 src="{% static 'web-design/img/cover14.jpg' %}">
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="thin">Allgemeine Geschäftsbedingungen</h1>
                </div>
            </div>

            <div class="row mb160 mb-xs-0">
                <div class="col-md-6 col-sm-8 col-lg-8">
                    <p class="lead"><strong>Allgemeine Geschäftsbedingungen der
                        Firma Photography Marketing 365 UG (haftungsbeschränkt),
                        der Betreiber der Webseite Fotografen365.com.</strong>
                    </p>
                    <p class="lead">Bitte lesen Sie sich diese AGB sorgfältig
                        durch, da sie wichtige Informationen enthalten.</p>
                    <p class="lead"><em>Wer liest schon Allgemeine
                        Geschäftsbedingungen? Da Sie es gerade tun, haben wir im
                        nachfolgenden versucht die „Spielregeln“, die auf dieser
                        Webseite gelten so einfach und verständlich
                        darzustellen. So ganz dürfen auch wir nicht auf
                        rechtliche Begriffe verzichten, wir versuchen aber alles
                        zu erklären. Schließlich sind die meisten Nutzer dieses
                        Portals Fotografen und keine Juristen. </em></p>
                    <p class="lead"><em>Wenn Sie trotzdem noch Fragen haben oder
                        glauben, einen Fehler entdeckt zu haben, schreiben Sie
                        einfach eine Email an unseren Geschäftsführer Wolfgang
                        Männel (wm@fotografen365.de) und sagen es ihm.</em></p>
                    <p class="lead"><strong>Nachfolgend verwenden wir folgende
                        Begriffe und Abkürzungen:</strong></p>
                    <p class="lead">Allgemeine Geschäftsbedingungen werden hier
                        als „AGB“ abgekürzt.</p>
                    <p class="lead">Diese Webseite (Fotografen365.com, sowie
                        nationale und internationale Schwesterseiten (z.B.
                        Fotografen365.de, Fotografen365.at, Fotografen365.ch)
                        oder Seiten, die Sie zu unserem Portal locken sollen
                        (z.B. Microsites, z.B. ich-suche-einen-fotografen.de),
                        kürzen wir gesamthaft mit „Fotografen365“, „Webseite“
                        oder „Portal“ ab.</p>
                    <p class="lead">Als „Nutzer“, „Mitglieder“ oder „Fotograf“
                        bezeichnen wir alle Personen, die eine kostenfreie oder
                        eine kostenpflichtige Mitgliedschaft auf dieser Webseite
                        haben.</p>
                    <p class="lead"><em>Außerdem benutzen wir hier immer nur die
                        sächliche oder männliche Form, was die Damen in keinster
                        Weise herabwürdigen soll. Gut, dass es das Mitglied
                        heißt!</em></p>
                    <p class="lead"><strong>Der Betreiber dieser Webseite ist
                        die Firma Photography Marketing 365 UG
                        (haftungsbeschränkt)</strong></p>
                    <p class="lead"><em>Aber die Webseite heißt doch
                        Fotografen365.com? Ja, aber genauso wie
                        Markenartikelfirmen ja auch meistens nicht so heißen,
                        wie die Waschmittel, die sie verkaufen, verhält es sich
                        hier eben ähnlich.</em></p>
                    <p class="lead">Der Geltungsbereich dieser AGB erstreckt
                        sich auf das Fotografen365 Portal, sowie für alle
                        Webseiten, die in diese Webseite münden. Sie gelten auch
                        für Facebook (www.facebook.com/Fotografen365.de), Google
                        Plus (www.googleadresse hier), Pinterest sowie andere
                        soziale Medien.</p>
                    <p class="lead">Die Nutzung von Fotografen365 unterliegt
                        ausschließlich diesen AGB. AGB der Nutzer finden keine
                        Anwendung.</p>
                    <p class="lead"><strong><em>Was heißt das für
                        mich? </em></strong></p>
                    <p class="lead"><em>Keiner zwingt Sie diese Seite zu nutzen.
                        Wenn Sie aber das Angebot von Fotografen365 hilfreich
                        und mehrwertstiftend für sich empfinden und nutzen
                        wollen, dann geschieht das zu den Regeln, die in unseren
                        AGB stehen. Wenn Sie das nicht möchten, sollten Sie
                        jetzt diese Webseite aus Ihren Browser Lesezeichen
                        löschen und an anderer Stelle suchen. Was sehr schade
                        wäre. Wir mögen unsere Nutzer und Mitglieder sehr.</em>
                    </p>
                    <p class="lead"><strong>Wir können diese AGB jederzeit
                        ändern und Sie dürfen dann entscheiden, ob Sie das
                        wollen oder nicht.</strong></p>
                    <p class="lead">Diese AGB können jederzeit geändert werden.
                        Änderungen werden Ihnen per Email mitteilen. Dann haben
                        Sie 14 Tage Zeit, um den neuen AGB zu
                        widersprechen. </p>
                    <p class="lead">Tun Sie das nicht innerhalb dieser Frist,
                        dann akzeptieren Sie die neuen Regeln. Meist geht es
                        dabei ohnehin eher um Kleinigkeiten, aber wenn es zu
                        einer solchen Änderungen kommen sollte, werden wir Ihnen
                        genau sagen, was sich für Sie ändert.</p>
                    <p class="lead">Wenn Sie widersprechen wollen, dann
                        antworten Sie einfach auf die Email mit den neuen AGB
                        oder schicken Sie einen Brief an unsere obige
                        Geschäftsadresse. Und bitte auf die Frist von 14 Tagen
                        achten.</p>
                    <p class="lead">Die rechtliche Folge eines AGB Widerspruchs
                        ist die Beendigung Ihrer Mitgliedschaft. In diesem Fall
                        bekommen Sie bereits gezahlte Gebühren für den Zeitraum
                        des Inkrafttretens der neuen AGB und Ihrer restlichen
                        Mitgliedschaft zurückgezahlt. Ihr Nutzerkonto müssten
                        wir dann löschen und potentielle Kunden könnten nicht
                        mehr Ihre schönen Fotos sehen und buchen. Das würden wir
                        nur mit größten Bauchschmerzen tun wollen.</p>
                    <p class="lead"><strong>Sitz der Gesellschaft und
                        Gerichtsstand</strong></p>
                    <p class="lead">Das Unternehmen Photography Marketing 365 UG
                        (haftungsbeschränkt) ist im schönen 65812 Bad Soden am
                        Taunus ansässig, Zum Quellenpark 38. In Deutschland. Die
                        Menschen, die in dieser Firma arbeiten, lieben gute
                        Bilder. Deswegen haben wir auch diese Webseite
                        gemacht.</p>
                    <p class="lead">Infolgedessen findet ausschließlich
                        deutsches Recht Anwendung. </p>
                    <p class="lead">Der Gerichtsstand ist Frankfurt am Main. Die
                        Verhandlungs- und Vertragssprache ist Deutsch.</p>
                    <p class="lead">Unter wm@fotografen.de können Sie dem
                        Geschäftsführer Wolfgang Männel jederzeit Ihre Meinung
                        sagen. Oder ihm ein Kompliment machen. Wie Sie
                        möchten. </p>
                    <p class="lead"><strong>Welchem Zweck dient
                        Fotografen365?</strong></p>
                    <p class="lead">Fotografen365 ist eine Online Plattform oder
                        ein Internet Portal, das Unternehmen und Privatpersonen
                        dabei unterstützt, einen für ihre Zwecke geeigneten
                        Fotografen zu finden. </p>
                    <p class="lead">Das ist nicht nämlich gar nicht so
                        leicht.</p>
                    <p class="lead">Gewerblichen und freiberuflichen Fotografen
                        wird eine Plattform geboten, um ihre fotografischen
                        Fähigkeiten darzustellen. Wir unterscheiden dabei nicht
                        zwischen Berufsfotografen oder passionierten Amateuren,
                        sondern zeigen, wer in welchen fotografischen Bereichen,
                        welche Bilder gemacht hat. Für gewisse Bereiche bleiben
                        Berufsfotografen immer die erste Wahl, aber was
                        passionierte Amateure heute an Aufnahmen machen, kann
                        sich durchaus sehen lassen. Und letztendlich liegt die
                        Entscheidung beim Auftraggeber.</p>
                    <p class="lead">Fotografen365 tritt dabei nicht als
                        Vertragspartei zwischen Suchenden und Anbietern von
                        fotografischen Dienstleistungen auf. Wir sind daher auch
                        nicht verantwortlich für irgendwelche Schäden und
                        übernehmen daher auch keine keinerlei Haftung für
                        Schäden, die aus der Beauftragung eines Fotografen oder
                        der Nutzung dieser Webseite entstehen können.</p>
                    <p class="lead">Sämtliche Darstellungen auf dieser Webseite
                        sind ohne Gewähr. Das kennen Sie von den
                        Lottozahlen.</p>
                    <p class="lead"><strong>Was kostet es mich, mein Profil als
                        Fotograf hier einzustellen und wie sehen die
                        Mitgliedsbedingungen aus?</strong></p>
                    <p class="lead">Die Nutzung von Fotografen365 für Suchende
                        von fotografischen Dienstleistungen ist kostenfrei.
                        Hierfür ist auch keine Registrierung, ein Nutzerkonto
                        oder eine sonstige Anmeldung notwendig.</p>
                    <p class="lead">Fotografen bieten wir die Möglichkeit,
                        sowohl kostenfreie, wie auch kostenpflichtige Einträge
                        auf Fotografen365 vorzunehmen. Es gibt 3 verschiedene
                        Arten von Mitgliedschaften, die mit ihren Ausprägungen
                        und Preisen auf der Seite [URL] übersichtlich
                        dargestellt werden.</p>
                    <p class="lead">Jeder Nutzer (=also der Fotograf) muss sich
                        zunächst durch die Einrichtung eines Benutzerkonto
                        anmelden, und dann seine Art der Mitgliedschaft
                        auswählen. Das geht hier: [URL].</p>
                    <p class="lead">Mit dem Absenden der Anmeldung bieten Sie
                        Fotografen365 den Vertragsschluss an. Durch die
                        erfolgreiche Registrierung erkennen Sie die AGB
                        vollumfänglich an. Das steht bei der Anmeldung auch noch
                        einmal dabei und durch ein Häkchen bestätigen Sie
                        das.</p>
                    <p class="lead">Fotografen365 nimmt das Angebot durch
                        Erstellung eines Accounts an, ein Anspruch hierauf
                        besteht nicht. Wir behalten es uns vor, ohne Angaben von
                        Gründen, Nutzern die Erstellung eines Accounts zu
                        verweigern. Dafür haben wir dann aber auch einen guten
                        Grund, den wir unten noch weiter darstellen werden.</p>
                    <p class="lead">Sofern es sich um einen kostenpflichtigen
                        Eintrag handelt, wird der Fotograf mit Annahme des
                        Angebotes durch Fotografen365 zur unmittelbaren Zahlung
                        der Mitgliedsgebühr verpflichtet. Von irgendwas müssen
                        auch wir leben.</p>
                    <p class="lead"><strong>Ihr Widerrufsrecht nach Abschluss
                        einer Mitgliedschaft</strong></p>
                    <p class="lead">Sie können Ihren Vertragsabschluss bei uns
                        innerhalb von 30 Tagen ohne Angaben von Gründen
                        widerrufen. </p>
                    <p class="lead">Dafür nutzen Sie bitte den Dialog
                        „Mitgliedschaft kündigen“ in Ihren
                        Kontoeinstellungen. </p>
                    <p class="lead">Alternativ können sie Ihren Widerruf auch
                        schriftlich per Brief an Photography Marketing 365 UG
                        (haftungsbeschränkt), Zum Quellenpark 38, 65812 Bad
                        Soden a.Ts. senden oder per Email an
                        widerruf@Fotografen365.com.</p>
                    <p class="lead">Die Frist beginnt mit der Veröffentlichung
                        des Eintrags. Für die Wahrung der Frist genügt die
                        rechtzeitige Absendung des Widerrufs.</p>
                    <p class="lead"><strong>Ihre Mitgliedschaft verlängert sich
                        automatisch jedes Jahr. Hier erfahren Sie, wie Sie
                        kündigen können.</strong></p>
                    <p class="lead">Ihre Mitgliedschaft verlängert sich
                        automatisch nach Ablauf von 12 Monaten, wenn Sie nicht
                        mindestens zwei Wochen vor Ablauf dieses Zeitraums
                        kündigen. Im Falle einer automatischen Verlängerung sind
                        Sie verpflichtet, die Mitgliedsgebühr für ein weiteres
                        Jahr zu entrichten. Damit ist dann aber auch
                        sichergestellt, dass Ihre Einträge weiterhin gefunden
                        werden können.</p>
                    <p class="lead">Dafür nutzen Sie bitte den Dialog
                        „Mitgliedschaft kündigen“ in Ihren
                        Kontoeinstellungen. </p>
                    <p class="lead">Alternativ können sie Ihre Kündigung auch
                        schriftlich per Brief an Photography Marketing 365 UG
                        (haftungsbeschränkt), Zum Quellenpark 38, 65812 Bad
                        Soden a.Ts. senden oder per Email an
                        kuendigung@Fotografen365.com.</p>
                    <p class="lead">Das Löschen Ihres Eintrags gilt als
                        Kündigung. Sofern Ihre Mitgliedschaft kostenpflichtig
                        ist und während des Vertragszeitraums gelöscht wird,
                        erfolgt keine anteilige Erstattung bereits gezahlter
                        Beträge.</p>
                    <p class="lead">Bei einer Löschung Ihres Kontos durch Sie
                        besteht keine Verpflichtung, die Inhalte weiter auf
                        unseren Servern zu behalten. Bitte achten Sie daher
                        darauf, dass Sie Ihr Konto nicht aus Versehen löschen.
                        Nach dem Löschen können wir nämlich auch nicht mehr
                        darauf zurückgreifen und Sie müssten alle Daten neu
                        eintragen.</p>
                    <p class="lead">Kostenfreie Mitglieder müssen einmal pro
                        Jahr per Email bestätigen, dass ihr Eintrag noch aktuell
                        ist. Erfolgt auch nach dreimaligem Anschreiben keine
                        Antwort, gehen wir davon aus, dass das Benutzerkonto
                        nicht mehr aktuell ist und löschen es.</p>
                    <p class="lead"><strong>Ihr Mitgliedskonto darf nicht
                        Dritten zur Nutzung überlassen werden</strong></p>
                    <p class="lead">Ihr Mitgliedskonto ist Ihnen persönlich
                        zugeordnet. Bei Fotostudios mit mehreren Fotografen ist
                        das meist der Inhaber oder Geschäftsführer, kann aber
                        natürlich auch jede andere vertrauenswürdige Person dort
                        sein. </p>
                    <p class="lead">Bitte halten Sie Ihr Passwort geheim, aus
                        Sicherheitsgründen empfehlen wir eine regelmäßige
                        Aktualisierung.</p>
                    <p class="lead">Eine missbräuchliche Überlassung Ihres
                        Mitgliedskontos Dritten gegenüber ist nicht
                        gestattet. </p>
                    <p class="lead">Eine Nutzung, die dieser Vereinbarung
                        widerspricht, kann zur sofortigen Löschung des
                        betroffenen Benutzerkontos führen.</p>
                    <p class="lead">Pro Fotostudio kann nur ein kostenloses
                        Mitgliedskonto eingerichtet werden. Bitte beachten Sie,
                        dass die eingestellten Bilder auch in diesem Fotostudio
                        bzw. von den dort arbeitenden Fotografen aufgenommen
                        sein müssen.</p>
                    <p class="lead"><strong>Sie sind verantwortlich für Ihre
                        Inhalte</strong></p>
                    <p class="lead">Sie als Nutzer sind alleinig verantwortlich
                        für die Inhalte, die sie auf Fotografen365 eintragen
                        oder hochladen. Sie versichern uns gegenüber, dass die
                        Einträge, die Sie vornehmen nach besten Wissen und
                        Gewissen inhaltlich korrekt sind, und dass Sie die
                        Aufnahmen, die Sie in Ihr Fotografen365 Portfolio
                        hochgeladen haben selbst erstellt haben, bzw. von Ihren
                        Mitarbeitern oder Kollegen in Ihrem Fotostudio.</p>
                    <p class="lead">Sie versichern auch, dass sie über alle
                        erforderlichen Rechte, Lizenzen, Freigaben und
                        Genehmigungen verfügen, um Fotografen365 die
                        Speicherung, Veröffentlichung, Darstellung und
                        Verbreitung oder anderweitige Nutzung zu erlauben.</p>
                    <p class="lead">Dazu gehört auch, dass Sie mit Ihren Bildern
                        keine Persönlichkeitsrechte verletzen.</p>
                    <p class="lead"><strong>Sie behalten natürlich alle Rechte
                        an Ihren Bildern aber wir dürfen sie für unsere Webseite
                        nutzen</strong></p>
                    <p class="lead">Mitglieder behalten ihre vollen Rechte für
                        Bildinhalte, die sie auf die Fotografen365 Website
                        hochladen. Fotografen365 erwirbt keine Rechte an den
                        Bildern mit Ausnahme der nachfolgend ausdrücklich
                        eingeräumten:</p>
                    <p class="lead">Durch die Einstellung von Informationen und
                        Bildern gewähren Sie uns das Recht zur Nutzung,
                        Vervielfältigung, Änderung der Auflösung, Übermittlung,
                        öffentlichen Darstellung, Verteilung und für andere
                        Zwecke, die die Dienstleistung auf der Webseite
                        unterstützen. Schließlich wollen wir Ihre Bilder ja
                        möglichst vielen Menschen zeigen, und dazu müssen Sie
                        uns berechtigen.</p>
                    <p class="lead">Außerdem dürfen wir Ihre Bilder zur Werbung
                        in Online- und Offline-Medien, Social Media Webseiten
                        und Anwendungen (z.B. Facebook, Google+, Pinterest,
                        Twitter etc.) in Zusammenhang mit Fotografen365
                        nutzen.</p>
                    <p class="lead">Fotografen365 hat keine Recht, Ihre Bilder
                        weiterzuverkaufen.</p>
                    <p class="lead"><strong>Wer sich nicht an die Regeln hält,
                        muss sich leider verabschieden</strong></p>
                    <p class="lead"><em>Ein Portal wie Fotografen365 kann nur
                        dann seinen Zweck erfüllen, wenn sich alle Mitglieder
                        anständig verhalten. Das tun glücklicherweise 99% und
                        darüber freuen wir uns sehr, aber es gibt immer wieder
                        einige schwarze Schafe. Die wollen wir nicht auf dieser
                        Plattform haben.</em></p>
                    <p class="lead">Wir behalten uns daher ausdrücklich vor,
                        Mitgliederkonten ohne vorherige Ankündigung zu schließen
                        und zu entfernen, die gegen die AGB von Fotografen365
                        verstoßen. In diesem Fall erfolgt keine anteilige
                        Erstattung bereits gezahlter Beträge.</p>
                    <p class="lead">Fotografen365 dient der Darstellung der
                        fotografischen Fähigkeiten seiner Mitglieder, damit sich
                        eine Person oder eine Firma, einen Eindruck von
                        Bilderstilen unterschiedlicher Fotografen in einer oder
                        mehreren Kategorien machen kann. </p>
                    <p class="lead">Was nicht dazu gehört ist z.B. jedwede
                        Darstellung, Verlinkung oder sonstige Form von z.B.
                        pornografischen, gewaltverherrlichenden, beleidigenden,
                        rassistischen, belästigenden oder jugendgefährdenden
                        Inhalten. </p>
                    <p class="lead">Man spricht hier auch von einem Verstoß
                        gegen die guten Sitten. Was darunter fällt sollte einem
                        der gesunde Menschenverstand sagen oder die Kinderstube
                        mitgeben. Im Zweifel entscheiden wir. Sie können uns
                        aber auch gerne zuvor per Email fragen.</p>
                    <p class="lead">Darunter fallen natürlich auch sämtliche
                        Versuche, das Portal für Spam zu nutzen.</p>
                    <p class="lead">Und ganz wichtig: Sie stellen uns von
                        jeglichen Ansprüchen Dritter frei, wenn wir uns aufgrund
                        eines Verstoßes gegen die obige Regelung, den Sie zu
                        verantworten haben, verteidigen müssen und uns Kosten
                        entstehen.</p>
                    <p class="lead"><em>Wenn Sie über Flüchtlinge,
                        Kindererziehung oder Angela Merkel diskutieren möchten,
                        dann tun Sie das bitte woanders, aber nicht auf
                        Fotografen365.</em></p>
                    <p class="lead">Bei einer kostenpflichtigen Mitgliedschaft
                        würden wir uns auch über eine fristgerechte Zahlung
                        freuen, da wir ansonsten das Recht haben, das Profil zu
                        löschen. Wir fragen in solchen Fällen zur Sicherheit
                        aber nochmal bei Ihnen nach.</p>
                    <p class="lead">Wir behalten uns auch das Recht vor,
                        Mitgliederkonten zu löschen, die aus unserer subjektiven
                        Sicht, nicht den Anforderungen an qualitative Fotografie
                        entsprechen, zu löschen. </p>
                    <p class="lead">Sollte es sich dabei um eine
                        kostenpflichtige Mitgliedschaft handeln, erfolgt ein
                        anteilige Erstattung bereits gezahlter Beträge. Ein
                        Rechtsanspruch auf eine Mitgliedschaft besteht
                        nicht.</p>
                    <p class="lead"><strong>Kontaktaufnahme über Email</strong>
                    </p>
                    <p class="lead">Sie erklären sich damit einverstanden, dass
                        wir Sie gemäß Ihren Benachrichtigungseinstellungen
                        regelmäßig per Email kontaktieren dürfen.</p>
                    <p class="lead">Eine Kontaktierung per Email aus
                        administrativen Gründen ist jederzeit möglich.</p>
                    <p class="lead">Aber keine Sorge: Wir verkaufen weder Ihre
                        Daten noch Ihre Email Adresse an Dritte. Niemals und
                        nimmer.</p>
                    <p class="lead">Für Suchende haben wir eine einfache
                        Funktion zur Kontaktaufnahme über Email, die an einen
                        oder mehrere ausgewählte Fotografen erfolgen kann. Da
                        wir auf den Inhalt dieser Emails keinen Einfluss haben,
                        haften wir auch nicht für die Richtigkeit und Aktualität
                        der Anfragen.</p>
                    <p class="lead">Fotografen365 erhält von jeder dieser Emails
                        automatisch eine blinde Kopie („bcc“), um die Funktion
                        des Portals sicherstellen zu können. Außerdem ist das
                        für uns hilfreich, um zu sehen, wie sich z.B. werbliche
                        Kampagnen auswirken. In die Kommunikation zwischen
                        Fotograf und potentiellen Kunden sind wir darüberhinaus
                        nicht eingebunden und wollen es auch nicht sein, da wir
                        ja auch keine Partei bei einem möglichen
                        Vertragsabschluss sind.</p>
                    <p class="lead"><strong>Technische Weiterentwicklung,
                        Erreichbarkeit, Preisanpassungen und Sicherheit</strong>
                    </p>
                    <p class="lead">Technische Problem gibt es sicherlich auch
                        bei uns einmal. Aber wir bemühen uns, die Erreichbarkeit
                        von Fotografen365 sehr hoch zu halten. Wartungsupdates
                        spielen wir i.d.R. nur nachts ein, so dass es eigentlich
                        keinem auffallen sollte. Eine dauerhafte Erreichbarkeit
                        können wir aber trotzdem nicht garantieren, auch wenn
                        unser Hosting Provider hier von 99,9% spricht. </p>
                    <p class="lead">Verschwörungstheoretikern ist es vielleicht
                        ein Trost zu erfahren, dass unsere Server in Deutschland
                        stehen. Ob darüber die NSA jetzt unglücklich ist,
                        möchten wir bezweifeln. Aber vielleicht sucht ja deren
                        deutsche Niederlassung auch mal einen guten Fotografen,
                        und dann wären sie bei Fotografen365 ohnehin an der
                        richtigen Adresse.</p>
                    <p class="lead">Die Funktionalität und das Design unseres
                        Portal entwickeln wir ständig weiter, denn wir wollen
                        ja, dass möglicht viele Suchende auch einen guten
                        Fotografen finden. Auch die Preise können wir über die
                        Zeit anpassen. Sollte das passieren, fragen wir Sie aber
                        per Email wenn eine Verlängerung Ihrer Mitgliedschaft
                        ansteht.</p>
                    <p class="lead">Falls Sie sich in unsem Portal nach einer
                        wesentlichen technischen Änderung nicht mehr
                        wiederfinden, haben Sie ein Sonderkündigungsrecht. Aber
                        wir wollen Sie ja nicht vergraulen sondern bei der
                        Umsatzbeschaffung belfen, insofern werden wir alles
                        unternehmen, um Ihr Fotografen365-Erlebnis so erfreulich
                        wir möglich gestalten.</p>
                    <p class="lead"><strong>Haftungsausschluss</strong></p>
                    <p class="lead">Fotografen365 wird sich im Rahmen des
                        wirtschaftlich Zumutbaren bemühen, die überlassenen
                        Daten vor unbefugter Veränderung, Beschädigung,
                        Vernichtung und vor unberechtigtem Zugriff zu
                        schützen.</p>
                    <p class="lead">Fotografen365 haftet nur für vorsätzlich
                        oder grob fahrlässig von uns verursachte Schäden. </p>
                    <p class="lead">Bei einfacher Fahrlässigkeit und
                        Pflichtverletzungen wird die Haftung ausgeschlossen,
                        soweit weder eine wesentliche Vertragspflicht noch
                        Personen verletzt wurden oder ein Fall des Verzuges oder
                        der Unmöglichkeit vorliegt.</p>
                    <p class="lead">Fotografen365 haftet nicht für mittelbare
                        Schäden und Folgeschäden sowie für entgangenen
                        Gewinn.</p>
                    <p class="lead">Auch wenn wir regelmäßige Backups
                        durchführen, können Ihre eingetragenen Daten verlustig
                        werden ohne dass wir dafür eine Haftung übernehmen. Aber
                        wir gehen jetzt mal davon aus, dass Sie Fotografen365
                        ohnehin nicht für die Sicherung von Originalen
                        verwenden, oder?</p>
                    <p class="lead"><strong>Urheberrecht</strong></p>
                    <p class="lead">Das Fotografen365 Logo ist urheberrechtlich
                        geschützt.</p>
                    <p class="lead">Es ist außerdem nicht erlaubt, unsere
                        Inhalte „abzusaugen“ oder zu kopieren, um sie in
                        gleicher oder anderer Form Dritten zugänglich zu
                        machen.</p>
                    <p class="lead"><strong>Was tun, wenn Sie glauben, dass auf
                        Fotografen365 Marken- oder Urheberrechte verletzt
                        werden?</strong></p>
                    <p class="lead">Bitte informieren Sie uns in diesem Fall
                        umgehend mit einer Email an copyright@Fotografen365.com
                        oder schreiben Sie uns an die im Impressum angegebene
                        Adresse.</p>
                    <p class="lead">Letztes Änderungsdatum: 1. Februar 2016 </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}