{% extends 'proto/common/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block css %}
    <link href="{% static 'web-design/css/theme.css' %}" rel="stylesheet"
          type="text/css" media="all"/>
{% endblock css %}
{% block content %}
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image"
                 src="{% static 'web-design/img/cover14.jpg' %}">
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="thin">Impressum</h1>
                </div>
            </div>

            <div class="row mb160 mb-xs-0">
                <div class="col-md-6 col-sm-8 col-lg-8">
                    <p class="lead">Unser Impressum gilt für die Seite
                        www.fotografen365.com sowie für die Fotografen365 auf
                        Facebook, Google+, Xing und Twitter. </p>
                    <p class="lead"><strong>Angaben gemäß §5 TMG: </strong></p>
                    <p class="lead">Photography Marketing 365 UG
                        (haftungsbeschränkt)<br>
                        Zum Quellenpark 38 <br>
                        65812 Bad Soden a.Ts. </p>
                    <p class="lead">Vertreten durch: Wolfgang Männel
                        (Geschäftsführer) </p>
                    <p class="lead"><strong>Kontakt:</strong>&nbsp;</p>
                    <p class="lead">Telefon: +49 151 1193 2877<br>
                        E-Mail: wm@fotografen365.com</p>
                    <p class="lead"><strong>Registereintrag:</strong>&nbsp;</p>
                    <p class="lead">Eintragung im Handelsregister. <br>
                        Registergericht: Königstein <br>
                        Registernummer: 9999 </p>
                    <p class="lead"><strong>Umsatzsteuer-ID: </strong></p>
                    <p class="lead">Umsatzsteuer-Identifikationsnummer gemäß §27
                        a Umsatzsteuergesetz: <br>
                        DE12345678</p>
                    <p class="lead"><strong>Angaben zur
                        Berufshaftpflichtversicherung: </strong></p>
                    <p class="lead">Name und Sitz der Gesellschaft: <br>
                        Haftpflicht <br>
                        Geltungsraum der Versicherung: Europa </p>
                    <p class="lead"><strong>Verantwortlich für den Inhalt nach §
                        55 Abs. 2 RStV:</strong>&nbsp;</p>
                    <p class="lead">Wolfgang Männel </p>
                    <p class="lead"><strong>Quellenangaben für die verwendeten
                        Bilder: </strong></p>
                    <p class="lead">© Fotolia http://www.fotolia.de </p>
                    <p class="lead"><strong>Haftungsausschluss
                        (Disclaimer) </strong></p>
                    <p class="lead"><strong>Haftung für Inhalte</strong>&nbsp;
                    </p>
                    <p class="lead">Als Diensteanbieter sind wir gemäß § 7 Abs.1
                        TMG für eigene Inhalte auf diesen Seiten nach den
                        allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10
                        TMG sind wir als Diensteanbieter jedoch nicht
                        verpflichtet, übermittelte oder gespeicherte fremde
                        Informationen zu überwachen oder nach Umständen zu
                        forschen, die auf eine rechtswidrige Tätigkeit
                        hinweisen. Verpflichtungen zur Entfernung oder Sperrung
                        der Nutzung von Informationen nach den allgemeinen
                        Gesetzen bleiben hiervon unberührt. Eine diesbezügliche
                        Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis
                        einer konkreten Rechtsverletzung möglich. Bei
                        Bekanntwerden von entsprechenden Rechtsverletzungen
                        werden wir diese Inhalte umgehend entfernen. </p>
                    <p class="lead"><strong>Haftung für Links</strong></p>
                    <p class="lead">Unser Angebot enthält Links zu externen
                        Webseiten Dritter, auf deren Inhalte wir keinen Einfluss
                        haben. Deshalb können wir für diese fremden Inhalte auch
                        keine Gewähr übernehmen. Für die Inhalte der verlinkten
                        Seiten ist stets der jeweilige Anbieter oder Betreiber
                        der Seiten verantwortlich. Die verlinkten Seiten wurden
                        zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße
                        überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der
                        Verlinkung nicht erkennbar. Eine permanente inhaltliche
                        Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
                        Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei
                        Bekanntwerden von Rechtsverletzungen werden wir
                        derartige Links umgehend entfernen. </p>
                    <p class="lead"><strong>Urheberrecht</strong></p>
                    <p class="lead">Die durch die Seitenbetreiber erstellten
                        Inhalte und Werke auf diesen Seiten unterliegen dem
                        deutschen Urheberrecht. Die Vervielfältigung,
                        Bearbeitung, Verbreitung und jede Art der Verwertung
                        außerhalb der Grenzen des Urheberrechtes bedürfen der
                        schriftlichen Zustimmung des jeweiligen Autors bzw.
                        Erstellers. Downloads und Kopien dieser Seite sind nur
                        für den privaten, nicht kommerziellen Gebrauch
                        gestattet. Soweit die Inhalte auf dieser Seite nicht vom
                        Betreiber erstellt wurden, werden die Urheberrechte
                        Dritter beachtet. Insbesondere werden Inhalte Dritter
                        als solche gekennzeichnet. Sollten Sie trotzdem auf eine
                        Urheberrechtsverletzung aufmerksam werden, bitten wir um
                        einen entsprechenden Hinweis. Bei Bekanntwerden von
                        Rechtsverletzungen werden wir derartige Inhalte umgehend
                        entfernen.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}